<!DOCTYPE html>
<html lang="en">

<head>
  <!-- head and css -->
  {% include 't_head.html' %}
</head>

<body>
  <div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    {% include 't_sidebar.html' %}

    <!-- Page Content -->
    <div id="page-content-wrapper">

      <!-- Navbar -->
      {% include 't_navbar.html' %}

      <!-- Content -->
      <div class="container-fluid">

        <!-- Search Bar and Table -->
        <div class="col-sm-12">
          <br>
          <!-- Config file menu -->
          <h2>Edit config file</h2>
          <form class="form-group 
                       list-group-item 
                       list-group-item-action 
                       bg-light
                       rounded" action="/config" method=post>
            
            <div class="form-group">
              <label for="system_package">System Package used for diff loaded classes - (In case of issue try to attach a different persistent process)</label>
              <input type="text" class="form-control" id="system_package" name="package" value="{{ system_package_str|safe }} ">
            </div>

            <div class="form-group">
              <label for="device-type">Device type</label>
              <select class="form-control" id="device-type" name="device-type">
                <option>USB</option>
                <option>Remote</option>
                <option>Local</option>
              </select>
            </div>

            <div class="form-group">
              <label for="device-args">Device arguments</label>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-12">
                    <button type="button" class="btn btn-success btn-sm">New arg.</button>
                  </div>
                </div>
              </div>
              <div class="dynamic-stuff">   
                <!-- Dynamic element will be cloned here -->
                {% for key, value in args.items() %}
                <div class="form-group">
                  <div class="row">
                    <div class="col-md-4">  
                      <input type="text" class="form-control" name="key[]" value="{{ key }}">
                    </div> 
                    <div class="col-md-3">
                      <input type="text" class="form-control" name="value[]" value="{{ value }}">
                    </div>
                    <div class="col-md-1">
                      <button type="button" name="remove" id="remove" class="btn btn-danger btn_remove">Remove</button>
                    </div>
                  </div>
                </div>
                {% endfor %} 
              </div> <!-- dynamic-stuff -->
            </div>
            <br>
            <br>
            <div class="form-group">
              <button type="submit" class="btn btn-primary mb-2">Save</button>
            </div>
          </form>

          <div class="form-group dynamic-element" style="display:none">
            <div class="row">
              <div class="col-md-4">  
                <input type="text" class="form-control" name="key[]" value="{{ key }}">
              </div> 
              <div class="col-md-3">
                <input type="text" class="form-control" name="value[]" value="{{ value }}">
              </div>
              <div class="col-md-1">
                <button type="button" class="btn btn-danger btn_remove">Remove</button>
              </div>
            </div>
          </div> <!-- hidden dynamic-element -->
        </div> <!-- form group -->
        <br>
        <br>
      </div>
      <!-- /#container-fluid -->
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Javascript loading -->
  {% include 't_js_script.html' %}

</body>

</html>