<!DOCTYPE html>
<html lang="en">

<head>
  {% include 't_head.html' %}
  <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"
          integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous">
  </script>
</head>

<body>
  <div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    {% include 't_sidebar.html' %}

    <!-- Page Content -->
    <div id="page-content-wrapper">

      <!-- Navbar -->
      {% include 't_navbar.html' %}

      <!-- 2 textarea side by side -->
      <div class="container-fluid">
        <br>


        <div class="row">
          <div class="col-sm-12">
            <h2>Check Console Output&nbsp;&nbsp;🖥</h2>
          </div>

        </div> <!-- row -->
        <div class="border-top my-3"></div>

        <br>
        <div class="row">
          <div class="col-sm-6">
            <h3 align=center>History of all the methods called <font color=red>[IF HOOKED]</font></h3>
            <textarea id=console_output_1 name=console_output
              class="form-control">{{ called_console_output_str|safe }}</textarea>
          </div>

          <div class="col-sm-6">
            <h3 align=center>Console Output</h3>
            <textarea id=console_output_2 name=console_output
              class="form-control">{{ hooked_console_output_str|safe }}</textarea>
          </div>
        </div>
      </div>
    </div>
    <!-- /#container-fluid -->

  </div>
  <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Javascript loading -->
  {% include 't_js_script.html' %}

  {% block scripts %}
  <!-- Auto Refresh Page -->
  <script>
    const socket = io.connect('//' + document.domain + ':' + location.port + '/console');
    socket.on('console_output', function(msg) {
        if(msg.data.length) {
            console_output_2_editor.setValue(msg.data);
        }
    });

  </script>
  {% endblock %}

</body>

</html>