<!DOCTYPE html>
<html lang="en">

<head>
  <!-- head and css -->
  {% include 't_head.html' %}
</head>

<body>
  <div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    {% include 't_sidebar.html' %}

    <!-- Page Content -->
    <div id="page-content-wrapper">

      <!-- Navbar -->
      {% include 't_navbar.html' %}

      <!-- Content -->
      <div class="container-fluid">

        <!-- Search Bar and Table -->
        <div class="col-sm-12">

          <div class="collapse" id="collapseViewDevice">
            <br>
            <div class="form-group">
              <label for="system_package">System Package used for diff loaded classes - (In case of issue try to attach a different persistent process)</label>
              <input type="text" class="form-control" id="system_package" placeholder="Android: {{ system_package_Android|safe }} - iOS: {{ system_package_iOS|safe }}"
                disabled>
            </div>
            <div class="form-group">
              <label for="device_type">Device connection</label>
              <input type="text" class="form-control" id="device_type" placeholder="{{ device_type_str|safe }} {{'- ' + conn_args_str|safe if conn_args_str}}"
                disabled>
            </div>
            <small class="form-text text-muted">
              Edit this settings directly in the <a href="/config">Config tab</a>
            </small>
          </div>
          <br>

          <!-- Avanced menu -->
          <div class="align-middle">
          <!-- Show Device Config menu -->
            <div class="float-right">
              <button 
                class="btn btn-info" 
                type="button" 
                data-toggle="collapse" 
                data-target="#collapseViewDevice" 
                aria-expanded="true" 
                aria-controls="collapseView">
                Show RMS Config
              </button>
            </div>
          <h2>📱Device - Setting Panel</h2>

          </div>
          <form class="form-group 
                       list-group-item 
                       list-group-item-action 
                       bg-light
                       rounded" action="/" method=post>
            <div class="form-group">
              <label for="mode"><b>Mobile OS</b></label>
              <select class="form-control" 
                      id="mobile_OS" 
                      name="mobile_OS"
                      required=true>
                <option disabled selected value> -- select an option -- </option>
                <option>Android</option>
                <option>iOS</option>
              </select>
            </div>            
            <div class="form-group">
              <label for="package"><b>Package name</b></label>
              <input class="form-control" list="package" name="package" required="true" placeholder="com.example.app">
      	      <datalist id="package">
      	      {% for package in packages %}
      	        <option>{{ package }}</option>
      	      {% endfor %}
              </datalist>
            </div>
            <div class="form-group">
              <label for="mode"><b>Spawn or Attach</b></label>
              <select class="form-control" id="mode" name="mode">
                <option>Spawn</option>
                <option>Attach</option>
              </select>
            </div>

            <div class="form-group">
              <label for="mode"><b>Optional</b> - Load a custom script or APIs Monitors</label>
              <br>
            <button class="btn btn-primary mb-2" type="button" data-toggle="collapse"
            data-target="#collapseViewAPIM" aria-expanded="true" aria-controls="collapseView">
            Load APIs Monitors 
            </button>

            <button class="btn btn-danger mb-2" type="button" data-toggle="collapse"
              data-target="#collapseViewCFS" aria-expanded="true" aria-controls="collapseView">
              Load Default Frida Scripts
            </button>
            </div>

            <!-- Custom Frida Script - Toggle -->

            <div class="collapse" id="collapseViewCFS">
              <div class="form-group">
                <h5>&nbsp;Load one of your favorite Frida Custom Scripts</h5>
                <small class="form-text text-muted">
                  &nbsp; Scripts are automatically loaded from the <font color=red>custom_scripts</font> folder.
                  <u><b>Make sure to add your favorite <font color=red>.js</font> scripts!</b></u> 😉
                </small>
                <br>
                  <!-- Nav tabs -->
                  <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link active" data-toggle="tab" href="#Android">Android</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" data-toggle="tab" href="#iOS">iOS</a>
                    </li>
                  </ul>

                  <!-- Tab panes -->
                  <div class="tab-content">
                    <div id="Android" class="container tab-pane active"><br>
                      <h3>Android</h3>
                      <ul class="list-group">
                        {% for cs in custom_scripts_Android %}
                        <a href="/?os=Android&cs={{ cs }}" class="list-group-item list-group-item-action">
                          [{{ loop.index }}] - {{ cs }}
                        </a>
                        {% endfor %}
                      </ul>

                    </div>
                    <div id="iOS" class="container tab-pane fade"><br>
                      <h3>iOS</h3>
                      <ul class="list-group">
                        {% for cs in custom_scripts_iOS %}
                        <a href="/?os=iOS&cs={{ cs }}" class="list-group-item list-group-item-action">
                          [{{ loop.index }}] - {{ cs }}
                        </a>
                        {% endfor %}
                      </ul>
                    </div>
                  </div> <!-- tab-content end-->

              </div>
            </div>
            <!-- Custom Frida Script - Toggle -->

            <!-- Custom APIs Monitors - Toggle -->

            <div class="collapse" id="collapseViewAPIM">
              <div class="form-group">
                <h5>&nbsp;What do you want to monitor? <font color=red>(Android Only)</font></h5>
                <small class="form-text text-muted">
                  &nbsp; This feature is currently available for Android apps only. <u><b><font color=red>Do not use it on iOS devices!</font></b></u>
                </small>
                <br>
                <div class="row">
              
              
                  <div class="col-sm-4">
                    {% for e in api_monitor %}
                    {% if loop.index<=10 %}
                    <div class="checkbox">
                      <label><input type="checkbox" name="api_selected" value="{{e["Category"]}}">  {{ loop.index }}. {{e["Category"]}} {% if e["Comment"] is defined  %} <font color=red>&#8594;</font> {{e["Comment"]}} {% endif %}</label>
                    </div>
                    {% endif %}
                    {% endfor %}
                  </div>
    
                  <div class="col-sm-4">
                    {% for e in api_monitor %}
                    {% if loop.index>10 and loop.index<=20  %}
                    <div class="checkbox">
                     <label><input type="checkbox" name="api_selected" value="{{e["Category"]}}">  {{ loop.index }}. {{e["Category"]}} {% if e["Comment"] is defined  %} <font color=red>&#8594;</font> {{e["Comment"]}} {% endif %}</label>
                    </div>
                    {% endif %}
                    {% endfor %}
                  </div>
    
                  <div class="col-sm-4">
                    {% for e in api_monitor %}
                    {% if loop.index>20 and loop.index<=30  %}
                    <div class="checkbox">
                     <label><input type="checkbox" name="api_selected" value="{{e["Category"]}}">  {{ loop.index }}. {{e["Category"]}} {% if e["Comment"] is defined  %} <font color=red>&#8594;</font> {{e["Comment"]}} {% endif %}</label>
                    </div>
                    {% endif %}
                    {% endfor %}
                  </div>
              
                  </div> <!-- end row -->

              </div>
            </div>
            <!-- APIs Monitors - Toggle -->

            <!-- FRIDA script textarea -->
            <div class="form-group">
              <label for="fridastartupscript">Run a FRIDA script at startup</label>
              <textarea class="form-control" id="fridastartupscript" name="fridastartupscript"
                rows="10">{{ custom_script_loaded }}</textarea>
            </div>
            <!-- FRIDA script textarea -->

            <!-- Submit button -->
            <div class="form-group">
              <button type="submit" class="btn btn-success mb-2">Start RMS</button>
            </div>
            <!-- Submit button -->


          </form>
        </div> <!-- form group-->
        <br>
        <br>
      </div>
      <!-- /#container-fluid -->
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Javascript loading -->
  {% include 't_js_script.html' %}
  {% block scripts %}
  <script>
    var editor = CodeMirror.fromTextArea(fridastartupscript, {
        lineNumbers: true,
        mode: 'javascript',
        theme: 'dracula'
    });
    editor.setSize("100%",300);
  </script>
  {% endblock %}

</body>

</html>
