  <!-- CSS Loading -->
  {% block styles %}

  <!-- Theme CSS -->
  <link rel="stylesheet"
        href="{{url_for('.static', filename='css_style.css')}}">
  
  <!-- BootStrap CSS -->
  <link rel="stylesheet"
        href="{{url_for('.static', filename='bootstrap.min.css')}}">

  <!-- Highlight.js CSS Dracula Theme -->
  <link rel="stylesheet"
        href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/styles/dracula.min.css">

  <!-- CodeMirror CSS -->
  <link rel="stylesheet" 
        href="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.52.2/codemirror.min.css" />

  <!-- CodeMirror CSS - Dracula Theme -->
  <link rel="stylesheet" 
        href="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.52.2/theme/dracula.min.css" />

  <!-- Toggle Buttons -->
  <link rel="stylesheet"
        href="//cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" >
  {% endblock %}
