    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading">
        <img class="profile_picture" src={{ url_for('static', filename='mobilesecurity.jpg') }}>
        <br>
        <br>
        <font size=3><b>🔥 Runtime Mobile Security 🔥</b></font>
        <a href="https://twitter.com/mobilesecurity_" alt="Mobile Security Twitter Account">
          <center>@mobilesecurity_</center>
        </a>
      </div>
      <div class="list-group list-group-flush">
        <p class="list-group-item list-group-item-action bg-light">
          <b>Package:</b> {{package_name_str}}</p>
      </div>
    </div>
    <!-- /#sidebar-wrapper -->