    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading">
        <img class="profile_picture" src={{ url_for('static', filename='mobilesecurity.jpg') }}>
        <br>
        <br>
        <font size=3><b>🔥 Runtime Mobile Security 🔥</b></font>
        <a href="https://twitter.com/mobilesecurity_" alt="Mobile Security Twitter Account">
          <center><b>@mobilesecurity_</b></center>
        </a>
      </div>
      <div class="list-group list-group-flush">
        <p class="list-group-item list-group-item-action bg-light">
          {% if mobile_OS %}
          <b>Mobile OS:</b> {{mobile_OS}} <br>
          {% endif %}
          {% if target_package and system_package %}
          <b>Target Package:</b> {{target_package}} <br>
          <b>System Package: </b> {{system_package}} <br>
          {% endif %}
          {% if no_system_package==True and target_package!="Gadget" %}
          <br>
            <b><font color=red>{{system_package}} is NOT available on your device!</font></b> <br><br>
            <b><font color=red>For a better RE experience, Click <a href="/config">here</a> to change it!</font></b>
          {% endif %}
          {% if frida_crash==True %}
          <br>
            <b><font color=red>FRIDA crashed while loading methods for one or more classes selected!</font></b> <br><br>
            <b><font color=red>Try to exclude them from your search!</font></b>
          {% endif %}
        </p>
      </div>
    </div>
    <!-- /#sidebar-wrapper -->